@model TicketViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h3>@Localizer["Sure"]@Model.Price$?</h3>
    <form asp-action="Buy">
        <input type="hidden" asp-for="@Model.Ticket.EventSeatId" />
        <input type="hidden" asp-for="@Model.Ticket.UserId" />
        <input type="hidden" asp-for="@Model.Price" />
        <input type="submit" value="@Localizer["Buy"]" class="btn btn-success" />
    </form>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
