@model EventViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Model.Event.Name;
}

<h1 class="d-flex justify-content-center">@Model.Event.Name</h1>

<div>
    <hr />
    <img class="img-fluid" src="@Model.Event.ImageUrl" alt="@Localizer["Picture"]">
    <br />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.LayoutId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.LayoutId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.TimeStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.TimeStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.TimeEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.TimeEnd)
        </dd>
    </dl>
</div>
<hr />
@if (User.IsInRole("admin") || User.IsInRole("user") || User.IsInRole("event manager") || User.IsInRole("venue manager"))
{
    @if (Model.MaxXCoord != 0)
    {
        <h2 class="justify-content-center">@Localizer["Map"]</h2>
        <div>
        @{int areasNumber = 0;}
        @for (int i = 1; i <= Model.MaxXCoord; i++)
        {
            <div class="row">
            @for (int j = 1; j <= Model.MaxYCoord; j++)
            {
                if (Model.CheckAreaForExist(i, j))
                {
                    int seatsNumber = 0;
                    <div class="border col-3">
                    @{
                        var eventArea = Model.SortedEventAreas().ElementAt(areasNumber);
                        areasNumber++;
                    }
                    @for (int k = 1; k <= eventArea.MaxXCoord; k++)
                    {
                        <div class="row">
                            @for (int z = 1; z <= eventArea.MaxYCoord; z++)
                            {
                                if (eventArea.CheckSeatForExist(k, z))
                                {
                                    if (eventArea.EventSeats.ElementAt(seatsNumber).State == PlaceStatus.Occupied)
                                    {
                                        <a class="btn btn-danger">@k-@z</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Buy" asp-route-eventSeatId="@eventArea.EventSeats.ElementAt(seatsNumber).Id" asp-route-price="@eventArea.EventArea.Price" class="btn btn-success">@k-@z</a>
                                    }
                                    seatsNumber++;
                                }
                            }
                        </div>
                    }
                    </div>
                }
            }
            </div>
        }
        </div>
        <hr />
    }
    else
    {
        <h2>@Localizer["NoPlaces"]</h2>
    }
}
else
{
    <h2>Register first to buy ticket!</h2>
}

@if (User.IsInRole("admin") || User.IsInRole("event manager"))
{
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Event.Id">@Localizer["Edit"]</a>
}
<a class="btn btn-primary" asp-action="Index">@Localizer["Back"]</a>
