@model IEnumerable<EventDto>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1 class="d-flex justify-content-center">@Localizer["Title"]</h1>

<p class="d-flex justify-content-center">
    <a class="btn btn-success" asp-action="Create">@Localizer["AddNew"]</a>
</p>
<hr />
<div class="container">
    @for (int i = 0; i < Model.Count(); i += 3)
    {
        <div class="row">
            @for (int j = 0; j < 3 && i + j < Model.Count(); j++)
            {
                <div class="col">
                    <a asp-action="Details" asp-route-id="@Model.ElementAt(i + j).Id" class="d-flex justify-content-center text-reset text-decoration-none">
                        <figure>
                            <img src="@Model.ElementAt(i + j).ImageUrl" height="300" width="300" alt="@Localizer["Picture"]">
                            <figcaption class="d-flex justify-content-center">
                                <div>
                                    <h3 class="text-center">@Html.DisplayFor(modelItem => Model.ElementAt(i + j).Name)</h3>
                                    <div class="row">
                                        <div class="col"><a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ElementAt(i + j).Id">@Localizer["Edit"]</a></div>
                                        <div class="col"><a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ElementAt(i + j).Id">@Localizer["Delete"]</a></div>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
        </div>
    }
</div>
