@model AccountViewModel

@{
    ViewData["Title"] = "Personal account";
}

<h1>Personal account</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Balance)
        </dd>
    </dl>
</div>
@if (Model.Tickets.Count > 0)
{
    <table class="table">
    <tr>
        <th>Event</th>
        <th>Price</th>
    </tr>
@foreach (var item in Model.Tickets) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}
</table>
}
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.User.Id">Edit</a>
    <a asp-action="AddBalance" asp-route-id="@Model.User.Id">Add balance</a>
</div>
