@model AreaViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LayoutId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LayoutId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoordY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoordY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a>
</div>
<hr />
<a class="btn btn-primary" asp-action="Index">@Localizer["Back"]</a>