@model ChangeRoleViewModel
 
<h2>Change access permissions for user: @Model.UserEmail</h2>
<hr />
<form asp-action="EditRoles" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" class="form-check-input" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
        }
    </div>
    <br />
    <button type="submit" class="btn btn-success">Save</button>
</form>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>