@model IEnumerable<EventAreaViewModel>
@inject IViewLocalizer loc
@{
    ViewData["Title"] = @loc["Title"];
}

<h1>@loc["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@loc["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoordX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoordY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoordX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoordY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">@loc["Edit"]</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">@loc["Details"]</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">@loc["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    int previousPage;
    int nextPage;
}
@if (PageViewModel.PageNumber > 1)
{
    <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="1">1</a>
    {
        previousPage = PageViewModel.PageNumber - 1;
    }
    <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="@previousPage">
        &lt;
    </a>
}
@if (PageViewModel.NextPage)
{
    {
        nextPage = PageViewModel.PageNumber + 1;
    }
    <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="@nextPage">
        >
    </a>
}