@model LayoutViewModel
@inject IViewLocalizer loc
@{
    ViewData["Title"] = @loc["Title"];
}

<h1>@loc["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">@loc["Edit"]</a>
</div>
<hr />
<a class="btn btn-primary" asp-action="Index">@loc["Back"]</a>
